<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設定画面</title>
</head>

<body>
    <h2>ファイル一覧</h2>
    <ul>
        {% for file in files %}
        <form action="/delete" method="post">
            <li>{{ file }}</li>
            <input type="hidden" name="filename" value="{{file}}">
            <input type="submit" value="削除">
        </form>
        {% endfor %}
    </ul>
    <h2>ファイル取り込み</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h2>表示設定</h2>
    <form action="/slideshow" method="post">
        <p>表示切り替え時間（秒）</p>
        <input type="text" name="time">
        <input type="submit" value="表示画面へ移動する">
    </form>
</body>

</html>